Repository PolyNoradrenalin/AntSimulator, pull requests merged in 2021-12, with the labels that each got.

#118 (Really) Better Ant movement
  App/AntSimulator.cs
  Engine/Entities/Ants/Ant.cs
  Engine/Entities/Colonies/Colony.cs
  Engine/Entities/LivingEntity.cs
  Engine/Entities/ResourceEntity.cs
  Engine/Entities/States/Living/CarryState.cs
  Engine/Entities/States/Living/SearchState.cs
  Engine/Entities/Strategies/Movement/WandererStrategy.cs
  Engine/Utils/Maths/PerceptionMap.cs
  Engine/Utils/Maths/Transform.cs
  Engine/World.cs
  Tests/Engine/AntTests.cs
Labels: engine

#113 Added additional optimization to detection using regions
  App/AntSimulator.cs
  Engine/Entities/Ants/Ant.cs
  Engine/Entities/Entity.cs
  Engine/Entities/LivingEntity.cs
  Engine/Entities/States/Living/CarryState.cs
  Engine/Entities/States/Living/SearchState.cs
  Engine/World.cs
Labels: engine, discussion

#124 Button
  App/AntSimulator.cs
  App/Content/Content.mgcb
  App/Content/UIElements/Button.png
  App/UIElements/Button.cs
  App/UIElements/SimFrame.cs
  App/UIElements/UIElement.cs
Labels: app

#121 Target state
  Engine/Entities/Ants/Ant.cs
  Engine/Entities/States/Living/CarryState.cs
  Engine/Entities/States/Living/LivingState.cs
  Engine/Entities/States/Living/SearchState.cs
  Engine/Entities/States/Living/TargetState.cs
Labels: engine

#123 Pheromone merge
  App/AntSimulator.cs
  Engine/Entities/Ants/Ant.cs
  Engine/Entities/Pheromones/FoodPheromone.cs
  Engine/Entities/Pheromones/HomePheromone.cs
  Engine/Entities/Pheromones/Pheromone.cs
  Engine/Entities/States/Living/CarryState.cs
  Engine/Entities/States/Living/SearchState.cs
  Engine/Utils/DecayTimer.cs
  Engine/World.cs
Labels: engine

#127 World Renderer
  App/App.csproj
  App/Renderers/EntityRenderers/EntityRenderer.cs
  App/Renderers/WorldRenderer.cs
  App/UIElements/SimFrame.cs
Labels: app

#129 World Brush
  App/UIElements/SimFrame.cs
Labels: app

#131 Fix crash when painting outside borders
  App/UIElements/SimFrame.cs
  Engine/World.cs
Labels: app, bug

#130 Window scaling and fix of sim frame
  App/AntSimulator.cs
  App/Renderers/EntityRenderers/EntityRenderer.cs
Labels: app, bug

#133 WorldRenderer scaling issues
  App/Renderers/EntityRenderers/EntityRenderer.cs
  App/Renderers/WorldRenderer.cs
  App/UIElements/SimFrame.cs
  App/UIElements/UIElement.cs
Labels: app, bug
