Repository PolyNoradrenalin/AntSimulator, pull requests merged in 2021-11, with the labels that each got.

#71 Added HMI for app
  Documents/HMI.png
Labels: app

#78 Rectangle world collision
  Engine/Colliders/CircleCollider.cs
  Engine/Colliders/RectangleCollider.cs
  Engine/Colliders/WorldCollider.cs
  Engine/Maths/Transform.cs
  Tests/Engine/RectangleColliderTests.cs
Labels: engine

#55 Ant Class
  Engine/Colliders/CircleCollider.cs
  Engine/Colliders/Collider.cs
  Engine/Colliders/RectangleCollider.cs
  Engine/Colliders/WorldCollider.cs
  Engine/Entities/Ants/Ant.cs
  Engine/Entities/Colonies/Colony.cs
  Engine/Entities/Entity.cs
  Engine/Entities/LivingEntity.cs
  Engine/Entities/Pheromones/FoodPheromone.cs
  Engine/Entities/Pheromones/HomePheromone.cs
  Engine/Entities/Pheromones/Pheromone.cs
  Engine/Entities/StateEntity.cs
  Engine/Entities/States/Living/IdleState.cs
  Engine/Entities/Strategies/Movement/IMovementStrategy.cs
  Engine/Entities/Strategies/Movement/LineStrategy.cs
  Engine/Utils/DecayTimer.cs
  Engine/Utils/Maths/PerceptionMap.cs
  Engine/Utils/Maths/Transform.cs
  Engine/World.cs
  Tests/Engine/AntTests.cs
  Tests/Engine/CircleColliderTests.cs
  Tests/Engine/PerceptionMapTests.cs
  Tests/Engine/RectangleColliderTests.cs
  Tests/Engine/TransformTests.cs
Labels: engine

#81 Rectangle collider's checkCollision with a circle
  Engine/Colliders/RectangleCollider.cs
  Tests/Engine/RectangleColliderTests.cs
Labels: tests, engine

#82 Fix unit tests
  Tests/Engine/PerceptionMapTests.cs
  Tests/Tests.csproj
Labels: bug

#84 Colliders refactor
  Engine/Colliders/CircleCollider.cs
  Engine/Colliders/Collider.cs
  Engine/Colliders/CollisionDetection.cs
  Engine/Colliders/RectangleCollider.cs
  Engine/Colliders/WorldCollider.cs
  Engine/World.cs
  Tests/Engine/CircleColliderTests.cs
  Tests/Engine/RectangleColliderTests.cs
Labels: engine, bug

#86 Entity renderer and initialisation of app logic
  .gitignore
  App/AntSimulator.cs
  App/App.csproj
  App/Content/Content.mgcb
  App/Content/Entities/Ant.png
  App/Content/Entities/Colony.png
  App/Content/Entities/Entity.png
  App/Content/obj/DesktopGL/Content/.mgstats
  App/Game1.cs
  App/Program.cs
  App/Renderers/EntityRenderers/AntRenderer.cs
  App/Renderers/EntityRenderers/ColonyRenderer.cs
  App/Renderers/EntityRenderers/EntityRenderer.cs
  App/Renderers/IRenderer.cs
  App/UIElements/Button.cs
  App/UIElements/SimFrame.cs
  App/UIElements/UIElement.cs
  Documents/PiskelFiles/Ant.piskel
  Documents/PiskelFiles/Colony.piskel
  Documents/PiskelFiles/Entity.piskel
Labels: app

#89 Feature/canvas
  App/AntSimulator.cs
  App/Renderers/EntityRenderers/EntityRenderer.cs
  App/UIElements/SimFrame.cs
  Engine/World.cs
Labels: app

#91 World Renderer
  Engine/World.cs
Labels: app

#88 Search State
  Engine/Colliders/CircleCollider.cs
  Engine/Colliders/Collider.cs
  Engine/Colliders/RectangleCollider.cs
  Engine/Colliders/WorldCollider.cs
  Engine/Entities/Ants/Ant.cs
  Engine/Entities/States/Living/CarryState.cs
  Engine/Entities/States/Living/SearchState.cs
  Engine/Utils/Maths/PerceptionMap.cs
Labels: engine, discussion

#93 fix: default value of PheromoneTimeSpan
  Engine/Entities/Ants/Ant.cs
Labels: engine

#94 Move and Render Rotation
  App/Content/Entities/Ant.png
  App/Renderers/EntityRenderers/EntityRenderer.cs
  Engine/Entities/Ants/Ant.cs
  Engine/Utils/Maths/PerceptionMap.cs
  Engine/Utils/Maths/Transform.cs
  Engine/World.cs
  Tests/Engine/AntTests.cs
  Tests/Engine/PerceptionMapTests.cs
Labels: app

#92 CarryState
  Engine/Entities/Ants/Ant.cs
  Engine/Entities/Colonies/Colony.cs
  Engine/Entities/LivingEntity.cs
  Engine/Entities/States/Living/CarryState.cs
  Engine/Entities/States/Living/LivingState.cs
  Engine/Entities/States/Living/SearchState.cs
  Engine/Resources/ResourceInventory.cs
Labels: engine

#97 Added a canvas offset
  App/AntSimulator.cs
  App/Renderers/EntityRenderers/AntRenderer.cs
  App/Renderers/EntityRenderers/ColonyRenderer.cs
  App/Renderers/EntityRenderers/EntityRenderer.cs
  App/Renderers/IRenderer.cs
  App/UIElements/Button.cs
  App/UIElements/SimFrame.cs
  App/UIElements/UIElement.cs
Labels: app

#96 Optimization
  App/AntSimulator.cs
  Engine/Colliders/CircleCollider.cs
  Engine/Colliders/Collider.cs
  Engine/Colliders/CollisionDetection.cs
  Engine/Colliders/RectangleCollider.cs
  Engine/Colliders/WorldCollider.cs
  Engine/Entities/Ants/Ant.cs
  Engine/Utils/Maths/Transform.cs
  Engine/World.cs
  Tests/Engine/CircleColliderTests.cs
  Tests/Engine/RectangleColliderTests.cs
Labels: engine

#99 WandererStrategy
  App/AntSimulator.cs
  App/Renderers/EntityRenderers/AntRenderer.cs
  App/Renderers/EntityRenderers/EntityRenderer.cs
  Engine/Entities/Ants/Ant.cs
  Engine/Entities/Strategies/Movement/WandererStrategy.cs
Labels: engine

#103 Movement Behaviour extraction from Ant
  Engine/Entities/Ants/Ant.cs
  Engine/Entities/LivingEntity.cs
Labels: engine

#104 Circle collider final tests
  Engine/Colliders/CircleCollider.cs
  Tests/Engine/CircleColliderTests.cs
Labels: tests, engine

#106 GC Optimization - No more copy of entity list
  App/AntSimulator.cs
  Engine/World.cs
  Tests/Engine/AntTests.cs
  Tests/Engine/ColonyTests.cs
  Tests/Engine/WorldTests.cs
Labels: engine, bug

#109 Ant avoids walls
  Engine/Entities/States/Living/SearchState.cs
  Engine/Entities/Strategies/Movement/WandererStrategy.cs
  Engine/Utils/Maths/PerceptionMap.cs
  Engine/World.cs
Labels: engine
