Repository PolyNoradrenalin/AntSimulator, pull requests merged in 2022-01, with the labels that each got.

#132 Ant behaviour polishing
  App/AntSimulator.cs
  Engine/Entities/Ants/Ant.cs
  Engine/Entities/Colonies/Colony.cs
  Engine/Entities/ResourceEntity.cs
  Engine/Entities/States/Living/SearchState.cs
  Engine/Entities/States/Living/TargetState.cs
  Engine/Entities/Strategies/Movement/WandererStrategy.cs
Labels: engine

#145 Documentation
  Engine/World.cs
Labels: engine

#146 Optimization : Added parameter to CircleCast to allow for a CircleCast on the world collider only
  Engine/Entities/States/Living/CarryState.cs
  Engine/Entities/States/Living/SearchState.cs
  Engine/World.cs
Labels: engine

#148 Pheromone maximum time span
  Engine/Entities/Ants/Ant.cs
Labels: engine

#149 World region optimization of properties
  Engine/World.cs
Labels: engine, bug

#147 Pheromones now contain a reference to the colony of the ant that emitted them. This allows for multiple colonies to exist simultaneously.
  App/AntSimulator.cs
  Engine/Entities/Ants/Ant.cs
  Engine/Entities/Pheromones/FoodPheromone.cs
  Engine/Entities/Pheromones/HomePheromone.cs
  Engine/Entities/Pheromones/Pheromone.cs
  Engine/Entities/States/Living/CarryState.cs
  Engine/Entities/States/Living/SearchState.cs
Labels: engine, app

#151 Fix World-Circle
  Engine/Colliders/CollisionDetection.cs
  Engine/Utils/Maths/Transform.cs
  Tests/Engine/CircleColliderTests.cs
Labels: engine, bug

#153 Added texture to resources in app
  App/AntSimulator.cs
  App/Content/Content.mgcb
  App/Content/Entities/Resource.png
  App/UIElements/SimFrame.cs
  Documents/PiskelFiles/Resource.piskel
Labels: app

#156 Texture modifications and additions
  App/AntSimulator.cs
  App/Content/Content.mgcb
  App/Content/Entities/Ant.png
  App/Content/Entities/Circle.png
  App/Renderers/EntityRenderers/AntRenderer.cs
  App/Renderers/EntityRenderers/EntityRenderer.cs
  App/UIElements/SimFrame.cs
  Documents/PiskelFiles/Ant.piskel
  Documents/PiskelFiles/Circle.piskel
  Engine/Entities/Ants/Ant.cs
  Engine/Entities/Colonies/Colony.cs
Labels: app

#155 Vector2 angle refactor
  App/AntSimulator.cs
  Engine/Entities/Ants/Ant.cs
  Engine/Entities/Colonies/Colony.cs
  Engine/Entities/LivingEntity.cs
  Engine/Entities/Strategies/Movement/WandererStrategy.cs
  Engine/Utils/Maths/Vector2Extensions.cs
Labels: engine

#152 Added drawing selection to SimFrame
  App/AntSimulator.cs
  App/Content/Content.mgcb
  App/Content/UIElements/PaintBrushButtonSpriteSheet.png
  App/UIElements/Button.cs
  App/UIElements/PaintBrushSelection.cs
  App/UIElements/SimFrame.cs
  App/UIElements/SpeedSlider.cs
  Documents/PiskelFiles/ColonyButton.piskel
  Documents/PiskelFiles/FoodButton.piskel
  Documents/PiskelFiles/WallButton.piskel
Labels: app

#154 Optimization of Perception map and data structures
  Engine/Entities/Ants/Ant.cs
  Engine/Entities/States/Living/CarryState.cs
  Engine/Entities/States/Living/SearchState.cs
  Engine/Entities/States/Living/WanderState.cs
  Engine/World.cs
Labels: engine, bug

#157 Reverted Vector2 extraction branch
  Engine/Entities/Ants/Ant.cs
  Engine/Entities/Colonies/Colony.cs
  Engine/Entities/LivingEntity.cs
  Engine/Entities/Strategies/Movement/WandererStrategy.cs
  Engine/Utils/Maths/Vector2Extensions.cs
Labels: app, bug

#158 Properties
  App/AntSimulator.cs
  App/App.csproj
  App/Properties.cs
  App/UIElements/SimFrame.cs
  Engine/Entities/Ants/Ant.cs
  Engine/Entities/Colonies/Colony.cs
  Engine/Entities/LivingEntity.cs
  Engine/World.cs
  simulator.properties
Labels: app

#159 Properties localization
  App/AntSimulator.cs
  App/UIElements/SimFrame.cs
Labels: app, bug

#161 Resizeable UIElements
  App/AntSimulator.cs
  App/Renderers/EntityRenderers/EntityRenderer.cs
  App/UIElements/PaintBrushSelection.cs
  App/UIElements/SimFrame.cs
  App/UIElements/SpeedSlider.cs
Labels: app

#162 Added world border and created pheromone renderer
  App/Renderers/EntityRenderers/AntRenderer.cs
  App/Renderers/EntityRenderers/ColonyRenderer.cs
  App/Renderers/EntityRenderers/PheromoneRenderer.cs
  App/Renderers/WorldRenderer.cs
  App/UIElements/SimFrame.cs
Labels: app
